{% extends "base.html" %}
{% block content %}
  <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">order history</h2>

    {% if orders %}
      {% for order in orders %}
        <div class="border-b py-2">
          {% for item in order.items %}
            <p> {{ item.book_title }} × {{ item.quantity }}</p>
          {% endfor %}
          <p class="text-gray-700"> total : {{ order.total_amount }} บัท </p>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-center text-gray-500 mt-4">ไม่มีคำสั่งซื้อ</p>
    {% endif %}
  </div>
{% endblock %}
