{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-2xl font-bold mb-8 text-neutral-50">Manage Users Page</h1>

<div class="flex justify-center items-start gap-8 p-10">
  <!-- USER -->
  <div class="bg-stone-400 p-4 rounded-lg w-72 shadow-md border border-black">
    <div class="flex justify-between items-center mb-3 font-bold text-black border-b border-black pb-2">
      <span >User</span>
      <button class="text-black hover:text-zinc-700"> <img src="/static/assets/Search-icon.svg" alt="Search-icon"></button>
    </div>
    <div class="flex flex-col bg-zinc-50">
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000000@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000001@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000002@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000003@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000004@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000005@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000006@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000007@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000008@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000009@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">68000010@kmitl.ac.th</div>
    </div>
  </div>

  <!-- STAF -->
  <div class="bg-stone-400 p-4 rounded-lg w-72 shadow-md border border-black">
    <div class="flex justify-between items-center mb-3 font-bold text-black border-b border-black pb-2">
      <span><S></S>Stock Keeper</span>
      <button class="text-black hover:text-zinc-700"> <img src="/static/assets/Search-icon.svg" alt="Search-icon"></button>
    </div>
    <div class="flex flex-col bg-zinc-50">
      <div class="p-2 text-sm text-black border border-black shadow-sm">699969@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">699970@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">699971@kmitl.ac.th</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">&nbsp;</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">&nbsp;</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">&nbsp;</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">&nbsp;</div>
      <div class="p-2 text-sm text-black border border-black shadow-sm">&nbsp;</div>
    </div>
  </div>
</div>
{% endblock %}
