{% extends "base.html" %}
{% block content %}
<main>
    <div class="cart-container">
      <section class="cart-items">
        <h2>ตะกร้าสินค้า</h2>

        <div class="item">
          <input type="checkbox" />
          <img src="/static/assets/image.png" alt="book" />
          <div class="details">
            <p><strong>(LN)</strong> ชีวิตวุ่นวายของนายขี้ดินฯ เล่ม 1</p>
            <p>฿911.00</p>
            <div class="qty">
              <span>จำนวน</span>
              <button>-</button>
              <span>1</span>
              <button>+</button>
              <button class="delete">🗑️</button>
            </div>
          </div>
        </div>
        
        <div class="item">
          <input type="checkbox" />
          <img src="/static/assets/image.png" alt="book" />
          <div class="details">
            <p><strong>(LN)</strong> ชีวิตวุ่นวายของนายขี้ดินฯ เล่ม 2</p>
            <p>฿911.00</p>
            <div class="qty">
              <span>จำนวน</span>
              <button>-</button>
              <span>1</span>
              <button>+</button>
              <button class="delete">🗑️</button>
            </div>
          </div>        

      </section>

      <section class="summary">
        <h2>สรุปคำสั่งซื้อ</h2>
        <div class="line-item">
          <span>ค่าจัดส่ง</span>
          <span>฿ 50.00</span>
        </div>
        <div class="line-item">
          <span>(LN) ชีวิตวุ่นวายของนายขี้ดินฯ เล่ม 1</span>
          <span>฿ 911.00</span>
        </div>
        <div class="line-item">
          <span>(LN) ชีวิตวุ่นวายของนายขี้ดินฯ เล่ม 2</span>
          <span>฿ 911.00</span>
        </div>
        <div class="total">
          <span>ราคารวม</span>
          <span>฿ 1872.00</span>
        </div>
        <div class="buttons">
          <button class="back">ไปหน้าแรก</button>
          <button class="order">สั่งซื้อ ➤</button>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
